                    <div class="col-lg-8 temp" id='about'>

                        <h1 class="title">El Baul Spanish School</h1>
                        <hr class="styled">
                        <h2>Who we Are</h2>
                        <p class="centraltext">Centro Lingüístico El Baúl is a center for learning Spanish as a second language, cultural
                        exchange and volunteer opportunities located in the Western Guatemalan highlands.
                        CLB was founded in 1994 by a group of Guatemalan Language professionals, active in
                        community, social and environmental issues in Quetzaltenango, Guatemala. Off ering a
                        comprehensive, aff ordable and people-friendly program, CLB has attracted hundreds of
                        students from Europe, Germany, and the US. Our total immersion program ranks among
                        the best in Quezaltenango, one of the most popular destinations for learning Spanish
                        beyond the beaten tourist track.</code>.</p>
                        <hr>
                         <div class="row">
                            <div class="col-lg-6">
                                 <h2>OUR MISSION</h2>
                                <p class="centraltext">• teach students to speak Spanish, from a multicultural, Indo-American perspective.<br>
                                • enrich our students learning experience by introducing them to the social, historical, geographical and ecological environments of the Guatemala highlands.<br>
                                • build bridges of cooperation between international students and the people of Guatemala.<br>
                                • foster connections between international organizations and local community groups.<br>
                                • create job opportunities and participate in economic development of local groups in Quetzaltenango, Guatemala.</code>.</p>
                             </div>
                             <div class="col-lg-6">  
                             <h2>OUR VISION</h2>
                                <p class="centraltext">
                                Instruct international people to acquire an acceptable level of communicative competence in the target language, learning Spanish cultural patterns of a community other than their own: that the student develops a cultural competence that allows a fluid communication. Compartir Guatemala and its political-social economic history.</code>.</p>
                                
                            </div>


                         </div>


                    </div>
