
                    <div class="col-lg-8 temp" id='program'>

                        <h1 class="title">El Baul Spanish School</h1>
                        <hr class="styled">
                        <h2>Objectives Of Our Program</h2>
                        <p class="centraltext">We believe that spoken communication is important to open borders between countries and overcome the obstacles of silence. In this way the social sectors and especially the popular ones can show their thought, culture, art and political social system.
                        Promote the integral development of rural communities and excluded from the country by strengthening the community social fabric for fighting poverty, achieving better standards of living through effective and timely support for the realization of the common good. The most immediate is the work of housewife and the instructors of the Spanish language to be taxpayers for their family through the economic compensation of our students.
                        .</code>.</p>
                        <hr>
                        <h2>Our Program</h2>
                        <p class="centraltext">•Classes one to one and totally in spanish.<br>
                            •Standar school program consists of 10 weeks.<br>
                            •Every week has a content of: grammar, vocabulary scripture, reading and conversation.<br>
                            •The ten weeks are distributed in three levels: beginner-intermediate-advanced.<br>
                            •Dele program: three levels.<br>
                            •Specific program.<br>
                            •One week program.<br><hr>
                        </p>
                        <h2>HIGHLIGHTS ABOUT OUR PROGRAM</h2>
                         <div class="row">
                            <div class="col-lg-6">
                                <p class="centraltext">
                                <strong> Total Immersion Program:</strong> Students are housed with a local
                                    family from our roster of participating room and board providers.</code>.</p>
                                <p class="centraltext">
                                <strong> Full Package Includes:</strong> class tuition plus room and board.
                                (Spanish classes, housing, and 3 meals per day). The cost of the
                                program is $175-per-week, plus a $50 registration fee.</code>.</p>
                                <p class="centraltext">
                                <strong> Our Staff:</strong> Our instructors are experienced in teaching foreign-
                                ers, one-on-one, to speak Spanish as a second language.</code>.</p>
                            </div>
                             <div class="col-lg-6">                               <p class="centraltext">
                                <strong>  Nature and Culture: </strong> SQuetzaltenango is a city which lays in a
                                valley crowned by beautiful hills, natural world-reknown hot
                                springs, pristine forests, magnifi cent volcanoes and dozens of
                                Mayan villages that thrive despite cultural assimilation and
                                globalization.</code>.</p>
                                <p class="centraltext">
                                <strong> Volunteer Opportunities: </strong> CLEB keeps partnerships with
                                diff erent community-based and environmental organizations.
                                Interested students are matched with local community projects
                                as volunteers. In class or outside the class, CLEB seeks to make
                                your Spanish learning experience a memorable event in your life.</code>.</p>
                            </div>


                         </div>


                    </div>

