
                    <div class="col-lg-8 temp" id='staff'>

                        <h1 class="title">El Baul Spanish School</h1>
                        <hr class="styled">
                        <h2>Our Staff</h2>
                        <p class="centraltext">Our instructors are experienced in teaching foreigners to speak Spanish as a sec-
                        ond language. Their specialty is one-on-one teaching. Each one is versed in the gram-
                        matical intricacies of intensive Spanish tutoring. Our teachers have years of experience
                        and are well-trained in our accelerated Spanish program. You will learn Spanish from
                        the best in town, not just for their language-teaching skills, but for their knowledge of
                        Quetzaltenango’s history and the many cultures of the Guatemalan “Altiplano Occidental.”</p>
                         <div class="row">
                            <div class="col-lg-6">
                            </div>
                             <div class="col-lg-6">                               <p class="centraltext">

                            </div>


                         </div>


                    </div>

