

                    <div class="col-lg-8 temp" id='volunteer'>

                        <h1 class="title">El Baul Spanish School</h1>
                        <hr class="styled">
                        <h2>Volunteer Opportunities</h2>
                        <p class="centraltext">Centro Lingüístico El Baul maintains partnerships with many local community-based organizations. In tune with our mission statement, CLEB maintains strong community ties with local service and environ-
mental organizations. As part of our Total Immer-
sion Program, our students are matched with local
community projects as volunteers, based on their own
interests and expertise. Lending a hand to local causes
is by far, one of the most memorable activities outside
the classroom, for most students that respond to our
past-student surveys</p>
                         <div class="row">
                            <div class="col-lg-6">
                            </div>
                             <div class="col-lg-6">                               <p class="centraltext">

                            </div>


                         </div>


                    </div>

